* {
  box-sizing: border-box;
  margin: 0;
}

/* body es parent container de wrapper y footer 
al asignar space-between + min-height 100vh envía footer al final del vp, 
aun cuando el contenido no es suficiente para llenar el vp completo.*/
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* ---------------- HEADER ---------------- */
.header-parent {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav-child-links {
  display: flex;
  align-items: center;
}

.nav-child-links > a {
  padding: 5px;
}

/* ---------------- MAIN ---------------- */
main {
  display: flex;
  padding: 20px;
}

.article {
  width: 80%;
  text-align: justify;
}

.article-elements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

aside li {
  list-style-type: none;
  margin: 5px;
}

/* ---------------- FOOTER ---------------- */
footer {
  color: honeydew;
  background-color: rgb(48, 47, 47);
  padding: 10px 20px;
  text-align: right;
}

/* ---------------- MEDIA QUERIES ---------------- */
@media only screen and (max-width: 650px) {
  main {
    flex-direction: column;
  }
  .article {
    width: 100%;
  }
  aside {
    width: 100%;
    padding-top: 20px;
    margin: auto;
  }

  [class^="link-block"] {
    display: flex;
    padding: 0;
  }
}
