/* ----------------------- SELECTORES ----------------------- */

/* Selector universal: * */
/* Selectores de etiqueta */
p {
  color: rgb(67, 67, 70);
}

h1 {
  background-color: rgb(16, 46, 90);
  color: white;
  text-align: center;
}

/* Selector de clase: .className */
.border {
  /* border: 5px;
  border-style: solid;
  border-color: tomato; */
  border: 5px solid tomato;
}

/* Selector de id: #idName */
#mainContainer {
  height: 200px;
  background-color: rgb(85, 138, 173);
}
/* Selector por atributo: [attr: value] */
[href="#example"] {
  text-decoration: none;
}

/* Selector por jerarquía */
/* Cualquier span dentro de un div a cualquier profundidad */
div span {
}

/* los li que sean hijos directos del ul */
ul > li {
}

/* Los elementos con clase link que esten dentro de elementos con clase container */
.container > .link {
}

/* Box model */
body {
  margin: 0;
}

h2 {
  text-align: center;
}

.boxModel {
  height: 100vh;
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  margin: 20px;
  padding: 20px 10px 20px;
}

.innerBox {
  height: 100px;
  background-color: darkred;
  margin-top: 20px;
}

/* Box Sizing */
.box-sizing-parent {
  width: 200px;
  height: 200px;
  border: 10px solid goldenrod;
}

.box-sizing-child {
  height: 50px;
  background-color: gray;
  border: 10px solid darkslategray;
  width: 100%;
}

.border-box {
  margin-top: 10px;
  box-sizing: border-box;
}

.background-image {
  height: 100vh;
  background-image: url(images/pexels-sourav-mishra-5541995.jpg);
  opacity: 0.5;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}

h3 {
  color: black;
  text-align: center;
  padding-top: 250px;
}

.spacer {
  height: 200vh;
}
