/* Selector universal: * */
/* Selectores de etiqueta */
p {
  color: rgb(101, 101, 104);
}

h1 {
  background-color: rgb(16, 46, 90);
  color: white;
  text-align: center;
}

/* Selector de clase: .className */
.border {
  /* border: 5px;
  border-style: solid;
  border-color: tomato; */
  border: 5px solid tomato;
}

/* Selector de id: #idName */
#mainContainer {
  height: 200px;
  background-color: rgb(85, 138, 173);
}
/* Selector por atributo: [attr: value] */
[href="#example"] {
  text-decoration: none;
}

/* Selector por jerarquía */
/* Cualquier span dentro de un div a cualquier profundidad */
div span {
}

/* los li que sean hijos directos del ul */
ul > li {
}

/* Los elementos con clase link que esten dentro de elementos con clase container */
.container > .link {
}

/* Box model */
body {
  margin: 0;
}

h2 {
  text-align: center;
}

.boxModel {
  height: 100vh;
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  margin: 20px;
  padding: 20px 10px 20px;
}

.innerBox {
  height: 100px;
  background-color: darkred;
  margin-top: 20px;
}

/* Box Sizing */
.box-sizing-parent {
  width: 200px;
  height: 200px;
  border: 10px solid goldenrod;
}

.box-sizing-child {
  height: 50px;
  background-color: gray;
  border: 10px solid darkslategray;
  width: 100%;
}

.border-box {
  margin-top: 10px;
  box-sizing: border-box;
}

.background-image {
  height: 100vh;
  background-image: url(images/pexels-sourav-mishra-5541995.jpg);
  opacity: 0.5;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}

h3 {
  color: black;
  text-align: center;
  padding-top: 250px;
}

/* Cómo centrar a lo ancho del eje X */
.centered-x {
  height: 50px;
  background-color: seagreen;
  width: 25%;
  margin: auto;
}

/* Tipos de Display: none, inline, block, inline-block */
/* ^= en lugar de =, selecciona aquello que EMPIECE con lo indicado entre comillas */
/* [class^="box-"] {
  background-color: darkslategray;
} */
.box-0,
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  background-color: darkslategray;
  border: 2px solid olivedrab;
}

/* Display None */
.box-0 {
  display: none;
}

/* Display Inline */
.box-3,
.box-3 p,
.box-4,
.box-4 p {
  display: inline;
}

/* Inline-block */
.box-5,
.box-5 p,
.box-6,
.box-6 p {
  display: inline-block;
}

/* Posicionamiento absoluto: centrado en ambos ejes */
.pos-absolute-parent {
  height: 300px;
  border: 15px solid grey;

  position: relative;
}

.pos-absolute-child {
  height: 50px;
  width: 50px;
  background-color: rgb(138, 141, 189);
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-bottom: -25px;
  margin-left: -25px;
}

/* Posicionamiento relativo */
.pos-relative-parent {
  height: 300px;
  border: 15px solid grey;
}

.pos-relative-child {
  background-color: rgb(103, 151, 91);
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 50px;
  left: 20px;
}

/* Posicionamiento sticky */
.pos-sticky-parent {
  background-color: skyblue;
  padding: 20px;
  position: sticky;
  top: 0;
}

/* Posicionamiento fixed */
.pos-fixed {
  background-color: springgreen;
  padding: 10px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 10px;
  z-index: 1;
}
.pos-fixed:hover {
  background-color: tomato;
  transition: 0.5s;
}

.pos-fixed a {
  text-decoration: none;
  color: white;
}

.overflow-parent {
  width: 200px;
  height: 100px;
  border: 3px dashed black;
  margin-bottom: 50px;
}

.hidden {
  overflow: hidden;
}

.visible {
  overflow: visible;
}

.scroll {
  overflow: scroll;
}

/* Media queries */
.visible-for-desktops {
  background-color: darkslategray;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .visible-for-desktops {
    display: none;
  }
}

/* -------------- CSS Grid -------------- */

[class^="grid-child"] {
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.grid-parent {
  background-color: lightgray;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  /* grid-template-columns: 1fr 2fr; */
  grid-template-rows: 2fr;
}

/* @media only screen and (max-width: 900px) {
  .grid-parent {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
}
*/
@media only screen and (max-width: 480px) {
  .grid-parent {
    grid-template-columns: 1fr 1fr;
  }
}

/* -------------- CSS Grid con líneas -------------- */
.grid-parent-linea {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.grid-parent-linea .grid-child-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.grid-parent-linea .grid-child-2 {
  grid-column: 3;
  grid-row: 1/3;
}

.grid-parent-linea .grid-child-3 {
  z-index: -1;
  opacity: 0.7;
  grid-column: 1/3;
  grid-row: 2/5;
}

.grid-parent-linea .grid-child-4 {
  grid-column: 3;
  grid-row: 3;
}

.grid-parent-linea .grid-child-5 {
  grid-column: 2/4;
  grid-row: 4;
}

.grid-parent-linea .grid-child-6 {
  grid-column: 1;
  grid-row: 2;
}

/* -------------- CSS Grid por área -------------- */
.grid-parent-area {
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;

  grid-template-areas:
    "nav    nav    nav"
    "cont1  cont2  cont3"
    "footer footer footer";
}

.grid-parent-area .grid-child-1 {
  grid-area: nav;
}
.grid-parent-area .grid-child-2 {
  grid-area: cont1;
}
.grid-parent-area .grid-child-3 {
  grid-area: cont2;
}
.grid-parent-area .grid-child-4 {
  grid-area: cont3;
}
.grid-parent-area .grid-child-5 {
  grid-area: footer;
}

/* -------------- Degradados/Gradientes -------------- */

[class^="gradient-"] {
  height: 100px;
  margin-bottom: 10px;
}

.gradient-1 {
  background: linear-gradient(to right, blueviolet, white);
}

.gradient-2 {
  background: linear-gradient(to bottom, blue, white 20%, orange);
}

.gradient-3 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    ),
    url(images/pexels-sourav-mishra-5541995.jpg);
}

.gradient-4 {
  width: 100px;
  margin: auto;
  background: radial-gradient(
    white 15%,
    rgb(230, 230, 230) 25%,
    rgb(202, 202, 202) 50%
  );

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.333);
}

/* -------------- Transformaciones -------------- */

.transformation-1 {
  height: 100px;
  width: 100px;
  background-color: violet;
  z-index: 1;

  transform: translate(100px, -250px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.transformation-2 {
  height: 100px;
  width: 100px;
  background-color: turquoise;

  transform: translate(150px, -200px);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.transformation-3 {
  height: 100px;
  width: 100px;
  background-color: turquoise;

  transform: translate(50px, -300px);

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.transformation-4 {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transform: translate(50px);
}

.text-animation {
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    position: relative;
    right: 450px;
  }

  50% {
    right: 0;
  }

  to {
    position: relative;
    right: 450px;
  }
}
