/* Barra de menu sencilla responsive */
/* Width igual o menor a 480, cambia display a block */
.menu-example {
  background-color: rgb(172, 165, 165);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
a {
  margin: 0 10px;
}

@media only screen and (max-width: 480px) {
  a {
    display: block;
    margin: 5px 0; /*Agrega margen sólo al aplicarse este media query */
  }
}

@media only screen and (min-width: 700px) {
  a:nth-of-type(4) {
    display: none;
  }
}
